<div class="text-center row-space-2">
  <%= link_to 'See ads', office_path(@office), class: 'btn btn-success' %>
</div>
<br/>
<hr/>
<br/>
<div class='text-center'>
  <%= button_to 'delete ad', office_path(@office),
                data: {confirm: 'Are you sure?'},
                method: :delete,
                class: 'btn btn-danger' %>
</div>