<div class='col-md-3'>
  <%= render partial: 'layouts/sub-nav' %>
</div>
<div class='col-md-9'>
  <div class='panel panel-default panel-heading'>My ads</div>
  <% unless @offices.empty? %>
      <div class='panel-body'>
        <% @offices.each do |office| %>
            <div class='row'>
              <div class='col-md-2'>
                <%= image_tag first_office_photos(office, :thumb) %>
              </div>
              <div class='col-md-7'>
                <%= office.listing_name %>
              </div>
              <div class='col-md-3 right'>
                <%= link_to 'Update', edit_office_path(office), class: 'btn btn-primary' %>
              </div>
            </div>
            <hr>
        <% end %>
      </div>
  <% end %>
</div>