.home-link a, p {
  color: $grey-pale;
  text-decoration: none;
}

.home-link:hover a, .home-link:focus a {
  color: darken($grey-pale, 10%);
  text-decoration: none;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

#sidebar {
  float: right;
  width: 340px;
}

#sidebar #widget {
  width: 340px;
  height: 600px;
  margin-bottom: 10px;
  border-bottom: 1px solid $grey-lighter;
}

#article {
  width: 560px;
}

.baseline {
  color: $grey-dark;
  display: inline;
  text-shadow: 0 1px darken($grey-dark, 10%);
  transition: box-shadow ease 250ms, color ease 250ms;
  cursor: pointer;

  text-decoration: none;
  box-shadow: 0 -5px 0 $primary-color inset;

  &:hover {
    color: $white;
    box-shadow: 0 -80px 0 $primary-color-hover inset;
  }
}