$white: #fff;
$grey-lighter: #edefed;
$grey-pale: #cacccd;
$grey-light: #82888a;
$grey-dark: #565a5c;

$blue-hover-fb: #627aac;
$blue-active-fb: #2b2eb2;
$blue-fb: #4568b2;

$primary-color: #55b2b2;
$primary-color-hover: darken($primary-color, 20%);