$white: #fff;
$grey-lighter: #edefed;
$grey-pale: #cacccd;
$grey-light: #82888a;
$grey-dark: #565a5c;

$red: #e00007;
$blue: #6985ff;

$red-hover: #fa0008;
$pink: #ff5a5f;
$pink-hover: #ff7e82;

$blue-hover-fb: #627aac;
$blue-active-fb: #2b2eb2;
$blue-fb: #4568b2;

