<div class='col-md-3'>
  <%= render partial: 'layouts/sub-nav' %>
</div>
<div class='col-md-9'>
  <div class='panel panel-default panel-heading'>My ads</div>
  <% unless @rooms.empty? %>
      <div class='panel-body'>
        <% @rooms.each do |room| %>
            <div class='row'>
              <div class='col-md-2'>
                <%= image_tag first_room_photos(room, :thumb) %>
              </div>
              <div class='col-md-7'>
                <%= room.listing_name %>
              </div>
              <div class='col-md-3 right'>
                <%= link_to 'Update', edit_room_path(room), class: 'btn btn-primary' %>
              </div>
            </div>
            <hr>
        <% end %>
      </div>
  <% end %>
</div>