.btn.btn-primary {
  border: 1px solid $primary-color;
  border-radius: 2px;
  font-weight: bold;
  background-color: $primary-color;
  color: $white;
  padding: 10px 25px 10px 25px;
}

.btn.btn-danger {
  padding: 10px 25px 10px 25px;
}

.btn.btn-success {
  padding: 10px 25px 10px 25px;
}

.btn-primary.btn:hover, .btn-primary.btn:focus {
  border-color: $primary-color-hover;
  border-bottom-color: $primary-color;
  background-color: $primary-color-hover;
  outline: none;
}

.btn-primary.btn:active {
  border-color: $primary-color-hover;
  background-color: $primary-color-hover;
  outline: none;
}

.btn-default.btn {
  width: 100%;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: $white;
  cursor: inherit;
  display: block;
}

.wide {
  width: 100%;
}

.btn-primary-fb.btn {
  border: 1px solid $blue-fb;
  border-radius: 2px;
  font-weight: bold;
  background-color: $blue-fb;
  color: #fff;
  padding: 10px 25px 10px 25px;
}

.btn-primary-fb.btn:hover, .btn-primary-fb.btn:focus {
  border-color: $blue-hover-fb;
  background-color: $blue-hover-fb;
  outline: none;
}

.btn-primary-fb.btn:active {
  border-color: $blue-active-fb;
  background-color: $blue-active-fb;
  outline: none;
}