.search {
  position: relative;
}

.search input {
  text-indent: 30px;
}

.search .fa-search {
  position: absolute;
  top: 12px;
  left: 7px;
  font-size: 15px;
  opacity: 0.5;
}

.search-map {
  box-shadow: 0 0 25px 1px rgba(102, 102, 102, 0.25);
  transition: all .25s ease;
  &:hover {
    box-shadow: 0 0 25px 1px rgba(102, 102, 102, 0.35);
    transform: scale(1.05, 1.05);
  }
}