<h3 id="average_rating">Reviews <span class="average_rating"></span> (<%= @reviews.count %>)</h3>
<div class="container">
  <div>
    <%= nice_display_comments_form(@booked, @has_review) %>
  </div>
  <div>
    <%= render partial: 'reviews/list' %>
  </div>
</div>
<script>
    $('.average_rating').raty({
        path: '/assets',
        readOnly: true,
        score: <%= @room.average_rating %>
    });
</script>