<ul class='sidebar-list'>
  <li class='sidebar-item'>
    <%= link_to 'My ads', offices_path, class: current_page?(controller: 'offices', action: 'index') ? 'active sidebar-link' : 'sidebar-link' %>
  </li>
  <li class='sidebar-item'>
    <%= link_to 'My bookings', bookings_path, class: current_page?(controller: 'reservations', action: 'bookings') ? 'active sidebar-link' : 'sidebar-link' %>
  </li>
  <li class='sidebar-item'>
    <%= link_to 'My past co-working', past_path, class: current_page?(controller: 'reservations', action: 'pasts') ? 'active sidebar-link' : 'sidebar-link' %>
  </li>
</ul>